
<div class="d-flex flex-column gap-1">

    @for (int i = 0; i < 100; i++)
    {
        <div style="height:600px;border:1px solid black">
            <h2>Block @i</h2>
        </div>
    }
</div>

@code {

}
