:root {
    --lb-dialog-content-padding: 1.25rem;
    --lb-dialog-mask-zindex: 1000;
    --lb-dialog-zindex: 1001;
    --lb-dialog-background-color: white;
    --lb-dialog-shadow: 0 22px 64px 0 rgba(0, 0, 0, 0.22);
    --lb-dialog-border-radius: var(--lb-border-radius);
    --lb-toast-zindex: 1002;
}

.lb-dialog-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: var(--lb-dialog-zindex);
    align-items: center;
    justify-content: center;
}

.lb-dialog {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-height: 100%;
    min-height: 150px;
    z-index: var(--lb-dialog-zindex);
    opacity: 1;
    background-color: var(--lb-dialog-background-color);
    box-shadow: var(--lb-dialog-shadow);
    border-radius: var(--lb-dialog-border-radius);
}

.lb-dialog-content {
    flex: 0 1 auto;
    padding: var(--lb-dialog-content-padding);
    overflow: auto;
}

@media (max-width: 768px) {
    .lb-dialog:not(.rz-dialog-confirm):not(.rz-dialog-alert) {
        position: absolute;
        width: 100% !important;
        top: 0px !important;
        border-radius: 0;
    }
}

.lb-dialog-titlebar {
    position: relative;
    display: flex;
    justify-content: end;
}

.lb-dialog-titlebar-close, .lb-toast-titlebar-close {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    --lb-close-border-color: black;
}

    .lb-dialog-titlebar-close:hover, .lb-toast-titlebar-close:hover {
        border: 1px solid var(--lb-close-border-color);
        animation: lb-close-anim 1s ease 0s forwards;
        cursor: pointer;
    }


@keyframes lb-close-anim {
    from {
        border-color: white;
    }

    to {
        border-color: var(--lb-close-border-color);
    }
}

.lb-dialog-title {
    width: 100%;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
}


.lb-dialog-mask {
    position: fixed;
    z-index: var(--lb-dialog-mask-zindex);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
    opacity: 1;
    background-color: rgb(0 0 0 / 60%);
}

/*TOAST*/

.lb-toast {
    position: fixed;
    z-index: var(--lb-toast-zindex);
    top: 100px;
    float: right;
    right: 10px;
}
.lb-toast-message {
    position: relative;
    width: 250px;
    z-index: 1002;
    position: static;
}


.lb-toast-item {
    --lb-toast-bg: #fff;
    background-color: var(--lb-toast-bg);
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: box-shadow 0.5s;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 2.6px;
}

    .lb-toast-item:hover {
        box-shadow: rgba(0, 0, 0, 0.75) 4px 4px 2.6px;
    }

    .lb-toast-item.lb-toast-titlebar-solo {
    }

.lb-toast-titlebar {
    font-weight: 900;
    padding: 5px;
    color: #333;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid black;
    background-color: #fffa;
    display: flex;
    justify-content: end;
}

.lb-toast-titlebar-solo .lb-toast-titlebar {
    border-bottom: none;
    border-radius: 8px;
}

.lb-toast-title {
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.lb-toast-detail {
    padding: 1em 1em 1em 0.5em;
}

.lb-message-error :is(.lb-toast-item, .lb-toast-titlebar-close) {
    --lb-toast-bg: #f23939ee;
    --lb-close-border-color: var(--lb-toast-bg);
}

.lb-message-info :is(.lb-toast-item, .lb-toast-titlebar-close) {
    --lb-toast-bg: #39d0f2ee;
    --lb-close-border-color: var(--lb-toast-bg);
}

.lb-message-success :is(.lb-toast-item, .lb-toast-titlebar-close) {
    --lb-toast-bg: #30c833ee;
    --lb-close-border-color: var(--lb-toast-bg);
}

.lb-message-warn :is(.lb-toast-item, .lb-toast-titlebar-close) {
    --lb-toast-bg: #f2e339ee;
    --lb-close-border-color: var(--lb-toast-bg);
}



.lb-no-scroll {
    overflow: hidden;
    padding-right: 15px
}
